<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My First App</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/">Servers</a>
      </li>
      <li routerLinkActive="active">
        <a
          [routerLink]="['/router-demo']"
          [queryParams]="{ allowEdit: '1' }"
          [fragment]="'loading'"
          >Router Demo</a
        >
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/form']">Reactive Form Demo</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/pipe-demo']">Pipe Demo</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/http-demo']">HTTP Demo</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <button class="btn btn-primary" (click)="logIn()">Log In</button>
      <hr />
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <h1 appBasicHighLight>Directive Demonstration</h1>
<h1 [appBetterHighlight]="'red'" [defaultColor]="'yellow'">
  A Better Directive Demonstration
</h1>
<h1 *appUnless="false">Custom Directive</h1>
<span [ngSwitch]="name">
  <p *ngSwitchCase="'Nam'">This is Nam</p>
  <p *ngSwitchCase="'Chau'">This is Chau</p>
  <p *ngSwitchDefault>UnKnow Person</p>
</span> -->
